/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
}
/*navigation bar*/
.sticky-top{
    position:fixed;
    top: 0;
    z-index: 1030;
}

.card {
    margin: 0 auto;
}
 


.carousel-inner, .carousel-item{
    
    object-fit:cover;
    display: flex;

   

}
/* 
.carousel-indicators{
    display: flex;
    padding: 20px;
    margin-left: 20px;
   
   
}   */
/* margin:auto; Evernly space out image, top, right, left and right */
.carouselimage{
    margin:auto;
    height: 400px;
}

.carousel-control-prev{
    justify-content: flex-end !important;
    width:17% !important;
}

.carousel-control-next{
    justify-content: flex-start !important;
    width:17% !important;
}